@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat", sans-serif;
    background-color:#121212;
    width: 50%;
    margin:auto;
    color:#cccccc;
}
h1{
    font-weight: 300;
    margin-bottom: 40px
}
#note-title{
    width:100%;
    height:30px;
}
label{
    text-transform: uppercase;
    margin-bottom: 30px;
}
form input{
    background-color: #121212;
    border-bottom: 1.5px solid #9c9c9c;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width:100%;
    height:30px;
    color:#e0e0e0;
    font-size: large;
    margin-bottom: 30px;
    outline: none;
}
form input:focus{
    border-bottom: 1.5px solid #d3d3d3;
    transition:.5s;
}
textarea{
    margin-top: 30px;
    width:100%;
    height:300px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: #121212;
    color:#e0e0e0;
    border-bottom: 1.5px solid #9c9c9c;
    outline: none;
    font-family:  "Montserrat", sans-serif;
    font-size: large;
}
.btn{
    width: 49%;
    height:50px;
    border-radius:5px;
    border:1px solid #3b3b3b;
    background-color: #121212;
    font-size: 1.1em;
    color:#cccccc;
    cursor: pointer;
    margin-top: 40px;
}
#btn_2{
    background-color: #e0e0e0;
    color: #121212;
}
#btn_1:hover{
    background-color: #3b3b3b;
    transition:.5s;
    
}