@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-color:#121212;
    color: rgb(204, 204, 204);
    font-family: "Montserrat", sans-serif;


}
h1{
    font-weight: 300;
    font-size: 2.5em;
    word-spacing: -4px;
    margin-left: 10px;
    
}
div{
    width:60%;
}
.title{
    color:white;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;

}
.text{
    font-size: 13px;
    color: #9b9b9b;
}
.date{
    font-size: 14px;
    color: rgb(78, 78, 78);
}
.container-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 800px;

}
.small-box{
    border:1px solid #2b2b2b;
    padding:20px;
    padding-top: 0;
    border-radius: 10px;
    margin:10px;
    background-color: #1d1d1d;
    padding-bottom:5px ;
    cursor: pointer;
    transition:ease-in-out .5s;


}
.small-box:hover{
    box-shadow: 3px 3px 11px black;
    border:1px solid #3a3a3a;
    transform: translateY(-3%);
}
.big-box{
    margin: auto;
}
.plus-box{
    height:60px;
    width:60px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.plus-box p{
    font-size:40px;
    font-weight: 300;
    color: black;
}
.plus-box:hover{
    transform: scale(115%);
    transition: 1s;
    cursor: pointer;
    
}
a{
    text-decoration: none;
}

