@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-color:#121212;
    color: rgb(204, 204, 204);
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Montserrat", sans-serif;
    

}
h1{
    font-weight: 300;
    font-size: 2.5em;
    word-spacing: -4px;
    
}
div{
    width:60%;
}
h2{
    color:white;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
}
p{
    font-size: 14px;
}